# SPDX-FileCopyrightText: 2019-2024 Dominic Zijlstra <dominiczijlstra@gmail.com>, Stefan Bachhofner <bachhofner.dev@gmail.com>
#
# SPDX-License-Identifier: MIT

numpy>=1.22.0
pandas>=1.0.0, <=1.5.3
scikit-learn<=0.23.2
pytest<=7.4.0
pytest-cov<=4.1.0
pbr==6.0.0
