# SPDX-FileCopyrightText: Stefan Bachhofner <bachhofner.dev@gmail.com>
#
# SPDX-License-Identifier: MIT


# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload dev-release to TestPyPI

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-22.04

    steps:
        - uses: actions/checkout@v4.2.2

        - name: Set up Python
          uses: actions/setup-python@v3
          with:
            python-version: '3.12.0'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade build

        - name: Build package
          run: python -m build

        - name: Publish package to TestPyPI
          uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
          with:
            user: __token__
            password: ${{ secrets.TEST_PYPI_API_TOKEN }}
            repository_url: https://test.pypi.org/legacy/
